<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>MOVIESHOP</display-name>
    <description>MOVIESHOP</description>
    <distributable/>
    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>

    <listener>
        <listener-class>ru.danilov.movieshop.web.service.ServiceInitListener</listener-class>
    </listener>

    <filter>
        <filter-name>authFilter</filter-name>
        <filter-class>ru.danilov.movieshop.web.filter.AuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>authFilter</filter-name>
        <url-pattern>/web/app/personal/*</url-pattern>
    </filter-mapping>



    <filter>
        <filter-name>adminFilter</filter-name>
        <filter-class>ru.danilov.movieshop.web.filter.AccessFilter</filter-class>
        <init-param>
            <param-name>requiredRole</param-name>
            <param-value>ADMIN</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>adminFilter</filter-name>
        <url-pattern>/web/app/personal/admin/*</url-pattern>
    </filter-mapping>



    <servlet>
        <servlet-name>mainServlet</servlet-name>
        <servlet-class>ru.danilov.movieshop.web.servlet.ApplicationMainServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>mainServlet</servlet-name>
        <url-pattern>/web/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>tiles</servlet-name>
        <servlet-class>org.apache.tiles.web.startup.TilesServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>tiles</servlet-name>
        <url-pattern>/nothingtodohere</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Tiles Dispatch Servlet</servlet-name>
        <servlet-class>org.apache.tiles.web.util.TilesDispatchServlet</servlet-class>
        <init-param>
            <param-name>
                org.apache.tiles.definition.DefinitionsFactory.DEFINITIONS_CONFIG
            </param-name>
            <param-value>
                /WEB-INF/tiles.xml,/org/apache/tiles/classpath-defs.xml
            </param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Tiles Dispatch Servlet</servlet-name>
        <url-pattern>*.tiles</url-pattern>
    </servlet-mapping>

    <jsp-config>
        <taglib>
            <taglib-uri>http://www.danilov.ru/moneytaglib</taglib-uri>
            <taglib-location>/WEB-INF/tag/taglib.tld</taglib-location>
        </taglib>
    </jsp-config>

    
</web-app>
